
h1.frontTitle {
    text-align: center;
    font-family: arial;
}

.Wt-auth-logged-in {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 90%;
}

.bankingStack {
    margin: 20px 40px;
}